body{
font-family:Arial;
background:#e8f5e9;
text-align:center;
}

.box{
background:white;
width:300px;
margin:auto;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

input{
display:block;
margin:10px auto;
padding:8px;
width:90%;
}

button{
background:#2e7d32;
color:white;
border:none;
padding:10px;
cursor:pointer;
}
